@model int

<div class="row">
    <div class="col-6">
        <input type="submit" class="btn btn-info form-control" style="width:100%; height:100%;" asp-route-id="@Model" value="Update" />
    </div>
    <div class="col-6">
        <a asp-action="Index" class="=btn btn-success form-control" style="width:100%; height:100%;">Back to List</a>
    </div>
</div>