/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
p{
    color: black;
}


/* Provide sufficient contrast against white background */
a {
    color: #1b80b7;
    transition: all .2s linear;
    overflow-x: hidden;
    max-height: 10vh;
}

    a:hover {
        color: #52bff2;
    }

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

fieldset {
    box-shadow: #000000 5px 5px 15px 10px;
    width: 95%;
    height: 95%;
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}


body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: Courier New,Arial,Optima;
    background-color: darkcyan;
    color: #fff;
    display: flex;
    flex:1;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow-y: auto;
}

label{
    color: black;
}


li {
    color: black;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
@keyframes example {
    from {
        background-color: darkgreen;
    }

    to {
        background-color: darkgoldenrod;
    }
}

#aniDiv {
    height: 100%;
    width: 100%;
    animation-name: example;
    animation-duration: 4s;
}

#navDiv {
    position: static;
    top: 1px;
    background: linear-gradient(to bottom, black 0%, darkcyan 100%);
    box-shadow: 10px 5px 5px black;
}

.conpages{
    display: flex;
    width: 95%;
    height:95%;
    
}

#DT_load {
    width: 100%;
    overflow-x: auto;
}
 