@model Project_2__26047179.Models.JobSpecs

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<br />
<h1>Job Specification Details</h1>
<br />

<fieldset>
    <form method="post">
        <div class="border" style="background-color: lightcyan; padding:10px;">
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Employee.EmployeeNumber" class="custom-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Employee.EmployeeNumber" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="JobRole" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="JobRole" disabled class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="HourlyRate" class="custom-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="HourlyRate" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="JobInvolvement" class="custom-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="JobInvolvement" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="JobLevel" class="custom-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="JobLevel" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="JobSatisfaction" class="custom-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="JobSatisfaction" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="MonthlyIncome" class="custom-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="MonthlyIncome" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="MonthylyRate" class="custom-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="MonthylyRate" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="PercentSalaryHike" class="custom-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="PercentSalaryHike" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="StandardHours" class="custom-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="StandardHours" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-5 offset-2">
                    <partial name="_DetailsAndBacktoListButton" model="Model.Id" />
                </div>
            </div>
        </div>


    </form>
</fieldset>

