@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="width: 100%;">

    <table id="DT_load" class="table table-striped table-bordered" style="width: 100%; overflow-x: auto;">
        <thead>
            <tr>
                <th>Age</th>
                <th>Attrition</th>
                <th>BusinessTravel</th>
                <th>DailyRate</th>
                <th>Department</th>
                <th>DistanceFromHome</th>
                <th>Education</th>
                <th>EducationField</th>
                <th>EmployeeCount</th>
                <th data-class-name="priority">EmployeeNumber</th>
                <th>EnvironmentSatisfaction</th>
                <th>Gender</th>
                <th>HourlyRate</th>
                <th>JobInvolvement</th>
                <th>JobLevel</th>
                <th>JobRole</th>
                <th>JobSatisfaction</th>
                <th>MaritalStatus</th>
                <th>MonthlyIncome</th>
                <th>MonthlyRate</th>
                <th>NumCompaniesWorked</th>
                <th>Over18</th>
                <th>OverTime</th>
                <th>PercentSalaryHike</th>
                <th>PerformanceRating</th>
                <th>RelationshipSatisfaction</th>
                <th>StandardHours</th>
                <th>StockOptionLevel</th>
                <th>TotalWorkingYears</th>
                <th>TrainingTimesLastYear</th>
                <th>WorkLifeBalance</th>
                <th>YearsAtCompany</th>
                <th>YearsInCurrentRole</th>
                <th>YearsSinceLastPromotion</th>
                <th>YearsWithCurrManager</th>
                <th></th>
            </tr>
        </thead>
    </table>

</div>

@section Scripts{
    <script src="~/js/employeeList.js"></script>
}