@model Project_2__26047179.Models.Employee
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<br />
<h1>Edit Personal Information</h1>
<br />

<!--partial name="_StatusMessage" model="Model.StatusMessage" /-->
<fieldset>
    <div class="border" style="background-color: lightcyan; padding:10px;">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" /><!-- need the id inside the controller, gives Id to the controller-->

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="EmployeeNumber" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="EmployeeNumber" class="form-control" />
                </div>
                <span asp-validation-for="EmployeeNumber" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Age" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Age" class="form-control" />
                </div>
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Attrition" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Attrition" disabled class="form-control" />
                </div>
                <span asp-validation-for="Attrition" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="BusinessTravel" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="BusinessTravel" disabled class="form-control" />
                </div>
                <span asp-validation-for="BusinessTravel" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="DailyRate" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="DailyRate" disabled class="form-control" />
                </div>
                <span asp-validation-for="DailyRate" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Gender" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Gender" disabled class="form-control" />
                </div>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MaritalStatus" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="MaritalStatus" disabled class="form-control" />
                </div>
                <span asp-validation-for="MaritalStatus" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Over18" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Over18" disabled class="form-control" />
                </div>
                <span asp-validation-for="Over18" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="RelationshipSatisfaction" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="RelationshipSatisfaction" disabled class="form-control" />
                </div>
                <span asp-validation-for="RelationshipSatisfaction" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-5 offset-1">
                    <partial name="_EditAndBacktoListButton" model="Model.Id" />
                </div>
            </div>

        </form>



    </div>
</fieldset>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        function updatePersonalList() {
            var employeeSelected = document.getElementById("ddlEmployeeList").value;

            $list = $('#PersonalList');

            $.ajax({
                url: '/Admin/Personal/GetPersonal/' + employeeSelected,
                type: 'GET',
                dataType: 'text',
                success: function (data) {
                    results = JSON.parse(data);
                    $list.html('');
                    $list.append(' <ul class="list-group"> ')
                    for (i in results) {
                        $list.append('<li class="list-group-item">' + results[i].text + '</li>');
                    }
                    $list.append('</ul>');
                }
            });
        }

        $(document).ready(function () {
            updatePersonalList();
        });

    </script>

}
