@model Project_2__26047179.Models.Employee
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<br />
<h1>Create Job Information</h1>
<br />

<!--partial name="_StatusMessage" model="Model.StatusMessage" /-->

<div class="border" style="background-color: lightcyan; padding:10px; width:100%">
    <div class="col-8 border-right">
        <form asp-action="Create">
            <div class="border" style="background-color: lightcyan; padding:10px;">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="EmployeeNumber" class="col-form-label"></label>
                    </div>
                    <div class="col-5">
                        <input asp-for="EmployeeNumber" class="form-control" />
                    </div>
                    <span asp-validation-for="EmployeeNumber" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="EducationField" class="col-form-label"></label>
                    </div>
                    <div class="col-5">
                        <input asp-for="EducationField" class="form-control" />
                    </div>
                    <span asp-validation-for="EducationField" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Education" class="col-form-label"></label>
                    </div>
                    <div class="col-5">
                        <input asp-for="Education" class="form-control" />
                    </div>
                    <span asp-validation-for="Education" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="NumCompaniesWorked" class="col-form-label"></label>
                    </div>
                    <div class="col-5">
                        <input asp-for="NumCompaniesWorked" class="form-control" />
                    </div>
                    <span asp-validation-for="NumCompaniesWorked" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="TotalWorkingYears" class="col-form-label"></label>
                    </div>
                    <div class="col-5">
                        <input asp-for="TotalWorkingYears" class="form-control" />
                    </div>
                    <span asp-validation-for="TotalWorkingYears" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="TrainingTimesLastYear" class="col-form-label"></label>
                    </div>
                    <div class="col-5">
                        <input asp-for="TrainingTimesLastYear" class="form-control" />
                    </div>
                    <span asp-validation-for="TrainingTimesLastYear" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="WorkLifeBalance" class="col-form-label"></label>
                    </div>
                    <div class="col-5">
                        <input asp-for="WorkLifeBalance" class="form-control" />
                    </div>
                    <span asp-validation-for="WorkLifeBalance" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="YearsAtCompany" class="col-form-label"></label>
                    </div>
                    <div class="col-5">
                        <input asp-for="YearsAtCompany" class="form-control" />
                    </div>
                    <span asp-validation-for="YearsAtCompany" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="YearsInCurrentRole" class="col-form-label"></label>
                    </div>
                    <div class="col-5">
                        <input asp-for="YearsInCurrentRole" class="form-control" />
                    </div>
                    <span asp-validation-for="YearsInCurrentRole" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="YearsWithCurrManager" class="col-form-label"></label>
                    </div>
                    <div class="col-5">
                        <input asp-for="YearsWithCurrManager" class="form-control" />
                    </div>
                    <span asp-validation-for="YearsWithCurrManager" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group row">
                    <div class="col-5 offset-3">
                        <partial name="_CreateAndBacktoListButton" />
                    </div>
                </div>
            </div>
        </form>
    </div>



</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        function updateJobInfoList() {
            var employeeSelected = document.getElementById("ddlEmployeeList").value;

            $list = $('#JobInfoList');

            $.ajax({
                url: '/Admin/JobInfo/GetJobInfo/' + employeeSelected,
                type: 'GET',
                dataType: 'text',
                success: function (data) {
                    results = JSON.parse(data);
                    $list.html('');
                    $list.append(' <ul class="list-group"> ')
                    for (i in results) {
                        $list.append('<li class="list-group-item">' + results[i].text + '</li>');
                    }
                    $list.append('</ul>');
                }
            });
        }

        $(document).ready(function () {
            updateJobInfoList();
        });

        $("#ddlEmployeeList").on("change", function () {
            updateJobInfoList();
        });


    </script>

}
