@model Project_2__26047179.Models.ViewModels.JobInfoAndEmployeeViewModel
@using Project_2__26047179.Extensions
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<br />
<h1>Edit Job Information</h1>
<br />

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="border" style="background-color: lightcyan; padding:10px;">
    <div class="col-8 border-right">
        <form asp-action="Edit">
            <input type="hidden" asp-for="JobInfo.EmployeeId" /><!-- need the id inside the controller, gives Id to the controller-->
            <div class="border" style="background-color: lightcyan; padding:10px; margin: 10px;">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="JobInfo.EmployeeId" class="col-form-label"></label>
                    </div>
                    <div class="col-5">
                        <select id="ddlEmployeeList" asp-for="JobInfo.EmployeeId" disabled asp-items="Model.EmployeeList.ToSelectListItem(Model.JobInfo.EmployeeId)" class="form-control"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="JobInfo.EducationField" class="col-form-label"></label>
                    </div>
                    <div class="col-5">
                        <input asp-for="JobInfo.EducationField" class="form-control" />
                    </div>
                    <span asp-validation-for="JobInfo.EducationField" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="JobInfo.Education" class="col-form-label"></label>
                    </div>
                    <div class="col-5">
                        <input asp-for="JobInfo.Education" class="form-control" />
                    </div>
                    <span asp-validation-for="JobInfo.Education" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="JobInfo.NumCompaniesWorked" class="col-form-label"></label>
                    </div>
                    <div class="col-5">
                        <input asp-for="JobInfo.NumCompaniesWorked" class="form-control" />
                    </div>
                    <span asp-validation-for="JobInfo.NumCompaniesWorked" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="JobInfo.TotalWorkingYears" class="col-form-label"></label>
                    </div>
                    <div class="col-5">
                        <input asp-for="JobInfo.TotalWorkingYears" class="form-control" />
                    </div>
                    <span asp-validation-for="JobInfo.TotalWorkingYears" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="JobInfo.TrainingTimesLastYear" class="col-form-label"></label>
                    </div>
                    <div class="col-5">
                        <input asp-for="JobInfo.TrainingTimesLastYear" class="form-control" />
                    </div>
                    <span asp-validation-for="JobInfo.TrainingTimesLastYear" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="JobInfo.WorkLifeBalance" class="col-form-label"></label>
                    </div>
                    <div class="col-5">
                        <input asp-for="JobInfo.WorkLifeBalance" class="form-control" />
                    </div>
                    <span asp-validation-for="JobInfo.WorkLifeBalance" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="JobInfo.YearsAtCompany" class="col-form-label"></label>
                    </div>
                    <div class="col-5">
                        <input asp-for="JobInfo.YearsAtCompany" class="form-control" />
                    </div>
                    <span asp-validation-for="JobInfo.YearsAtCompany" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="JobInfo.YearsInCurrentRole" class="col-form-label"></label>
                    </div>
                    <div class="col-5">
                        <input asp-for="JobInfo.YearsInCurrentRole" class="form-control" />
                    </div>
                    <span asp-validation-for="JobInfo.YearsInCurrentRole" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="JobInfo.YearsWithCurrManager" class="col-form-label"></label>
                    </div>
                    <div class="col-5">
                        <input asp-for="JobInfo.YearsWithCurrManager" class="form-control" />
                    </div>
                    <span asp-validation-for="JobInfo.YearsWithCurrManager" class="text-danger"></span>
                </div>
                <br/>
                <div class="form-group row">
                    <div class="col-5 offset-3">
                        <partial name="_EditAndBacktoListButton" model="Model.JobInfo.Id" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-3 offset-1">
        @if (Model.JobInfoList.Count() > 0)
        {
            <p> Existing Job Info: </p>

            <div id="JobInfoList">
                <ul class="list-group"></ul>
            </div>
        }
    </div>


</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        function updateJobInfoList() {
            var employeeSelected = document.getElementById("ddlEmployeeList").value;

            $list = $('#JobInfoList');

            $.ajax({
                url: '/Admin/JobInfo/GetJobInfo/' + employeeSelected,
                type: 'GET',
                dataType: 'text',
                success: function (data) {
                    results = JSON.parse(data);
                    $list.html('');
                    $list.append(' <ul class="list-group"> ')
                    for (i in results) {
                        $list.append('<li class="list-group-item">' + results[i].text + '</li>');
                    }
                    $list.append('</ul>');
                }
            });
        }

        $(document).ready(function () {
            updateJobInfoList();
        });

    </script>

}
