@page
@model Project_2_26047179.Pages.EmployeeList.EditModel
@{
}

<br />
<h2 class="text-info">Edit Employee</h2>
<br />
<div class="border container" style="padding:30px;">
    <form method="post">
        <input type="hidden" asp-for="Employee.Id" />
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3   ">
                <label asp-for="Employee.Age"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.Age" class="form-control" />
            </div>
            <span asp-validation-for="Employee.Age" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Employee.Attrition"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.Attrition" class="form-control" />
            </div>
            <span asp-validation-for="Employee.Attrition" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Employee.DailyRate"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.DailyRate" class="form-control" />
            </div>
            <span asp-validation-for="Employee.DailyRate" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3   ">
                <label asp-for="Employee.Department"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.Department" class="form-control" />
            </div>
            <span asp-validation-for="Employee.Department" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Employee.DistanceFromHome"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.DistanceFromHome" class="form-control" />
            </div>
            <span asp-validation-for="Employee.DistanceFromHome" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Employee.Education"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.Education" class="form-control" />
            </div>
            <span asp-validation-for="Employee.Education" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3   ">
                <label asp-for="Employee.EducationField"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.EducationField" class="form-control" />
            </div>
            <span asp-validation-for="Employee.EducationField" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Employee.EmployeeCount"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.EmployeeCount" class="form-control" />
            </div>
            <span asp-validation-for="Employee.EmployeeCount" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Employee.EmployeeNumber"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.EmployeeNumber" class="form-control" />
            </div>
            <span asp-validation-for="Employee.EmployeeNumber" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3   ">
                <label asp-for="Employee.EnvironmentSatisfaction"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.EnvironmentSatisfaction" class="form-control" />
            </div>
            <span asp-validation-for="Employee.EnvironmentSatisfaction" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Employee.Gender"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.Gender" class="form-control" />
            </div>
            <span asp-validation-for="Employee.Gender" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Employee.HourlyRate"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.HourlyRate" class="form-control" />
            </div>
            <span asp-validation-for="Employee.HourlyRate" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3   ">
                <label asp-for="Employee.JobInvolvement"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.JobInvolvement" class="form-control" />
            </div>
            <span asp-validation-for="Employee.JobInvolvement" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Employee.JobLevel"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.JobLevel" class="form-control" />
            </div>
            <span asp-validation-for="Employee.JobLevel" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Employee.JobRole"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.JobRole" class="form-control" />
            </div>
            <span asp-validation-for="Employee.JobRole" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3   ">
                <label asp-for="Employee.JobSatisfaction"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.JobSatisfaction" class="form-control" />
            </div>
            <span asp-validation-for="Employee.JobSatisfaction" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Employee.MaritalStatus"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.MaritalStatus" class="form-control" />
            </div>
            <span asp-validation-for="Employee.MaritalStatus" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Employee.MonthlyIncome"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.MonthlyIncome" class="form-control" />
            </div>
            <span asp-validation-for="Employee.MonthlyIncome" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3   ">
                <label asp-for="Employee.MonthlyRate"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.MonthlyRate" class="form-control" />
            </div>
            <span asp-validation-for="Employee.MonthlyRate" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Employee.NumCompaniesWorked"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.NumCompaniesWorked" class="form-control" />
            </div>
            <span asp-validation-for="Employee.NumCompaniesWorked" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Employee.Over18"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.Over18" class="form-control" />
            </div>
            <span asp-validation-for="Employee.Over18" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3   ">
                <label asp-for="Employee.OverTime"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.OverTime" class="form-control" />
            </div>
            <span asp-validation-for="Employee.OverTime" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Employee.PercentSalaryHike"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.PercentSalaryHike" class="form-control" />
            </div>
            <span asp-validation-for="Employee.PercentSalaryHike" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Employee.PerformanceRating"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.PerformanceRating" class="form-control" />
            </div>
            <span asp-validation-for="Employee.PerformanceRating" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3   ">
                <label asp-for="Employee.RelationshipSatisfaction"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.RelationshipSatisfaction" class="form-control" />
            </div>
            <span asp-validation-for="Employee.RelationshipSatisfaction" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Employee.StandardHours"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.StandardHours" class="form-control" />
            </div>
            <span asp-validation-for="Employee.StandardHours" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Employee.StockOptionLevel"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.StockOptionLevel" class="form-control" />
            </div>
            <span asp-validation-for="Employee.StockOptionLevel" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3   ">
                <label asp-for="Employee.TotalWorkingYears"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.TotalWorkingYears" class="form-control" />
            </div>
            <span asp-validation-for="Employee.TotalWorkingYears" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Employee.TrainingTimesLastYear"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.TrainingTimesLastYear" class="form-control" />
            </div>
            <span asp-validation-for="Employee.TrainingTimesLastYear" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Employee.WorkLifeBalance"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.WorkLifeBalance" class="form-control" />
            </div>
            <span asp-validation-for="Employee.WorkLifeBalance" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3   ">
                <label asp-for="Employee.YearsAtCompany"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.YearsAtCompany" class="form-control" />
            </div>
            <span asp-validation-for="Employee.YearsAtCompany" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3   ">
                <label asp-for="Employee.YearsInCurrentRole"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.YearsInCurrentRole" class="form-control" />
            </div>
            <span asp-validation-for="Employee.YearsInCurrentRole" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Employee.YearsSinceLastPromotion"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.YearsSinceLastPromotion" class="form-control" />
            </div>
            <span asp-validation-for="Employee.YearsSinceLastPromotion" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Employee.YearsWithCurrManager"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.YearsWithCurrManager" class="form-control" />
            </div>
            <span asp-validation-for="Employee.YearsWithCurrManager" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3 offset-3">
                <input type="submit" value="Update" class="btn btn-primary form-control" />
            </div>
            <div class="col-3">
                <a asp-page="Index" class="btn btn-success form-control">Back to List</a>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}<!--client side validation-->